<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Streaming</title>
</head>
<body>
<input type="hidden" id="pageId" th:value="${filename}">
<h1>Video Streaming Example</h1>
<video id="videoPlayer" controls>

</video>
<select id="qual" onchange="changed()">
    <option value="360p/">Low</option>
    <option value="720p/">Medium</option>
    <option value="1080p/">High</option>
</select>
<script>

    window.onload = function(){
        const filename = document.getElementById("pageId").value;
        getVideo(filename);
    }
    
    function getVideo(filename){
        const vTag = document.getElementById("videoPlayer");
        const quality = document.getElementById("qual").value;
        if(quality == null || quality == "")
            quality = "360p/";
        if(!filename){
            alert("fill all entries");
            return;
        }
        vTag.src = "http://localhost:8080/"+quality+filename;
        vTag.type = "video/mp4";
        vTag.addEventListener("loadedmetadata", function () {
            vTag.play();
        });
    }
    async function changed(){
        console.log("changed");
        const vTag = document.getElementById("videoPlayer");
        const playTime = vTag.currentTime;
        const filename = document.getElementById("pageId").value;
        await getVideo(filename);
        vTag.addEventListener("loadedmetadata", function () {
            vTag.currentTime = playTime;
            vTag.play();
        });
    }
</script>
</body>
</html>
